Django>=4.2
Pillow
stripe
gunicorn
whitenoise
dj-database-url
psycopg2-binary
python-dotenv
django-cors-headers
social-auth-app-django
django-allauth
razorpay
django-browser-reload
djangorestframework
djangorestframework-simplejwt
openai>=1.0.0
google-auth

# Optional: pin versions for production stability
# e.g. Django==4.2.9

Django>=4.2
Pillow
stripe
gunicorn
whitenoise
dj-database-url
psycopg2-binary
python-dotenv
django-cors-headers
social-auth-app-django
django-allauth
razorpay
django-browser-reload
djangorestframework
djangorestframework-simplejwt
openai>=1.0.0
google-auth
